.TablePage-wrapper{
    position: absolute;
    width: 100%;
    height: calc(100vh - 5.35em);
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(121, 9, 26) 35%, rgb(203, 99, 99) 100%);
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

@media screen and (max-width: 800px ){
    .TablePage-wrapper{
        min-height:100%;

    }
    .content-table{
        width: 100%;
    }
}
@media screen and (max-width: 800px ){
    .content-table{
        width: 70%;
    }
}